          cat <<EOF > isodir/boot/grub/grub.cfg
          insmod vbe
          insmod vga
          insmod video_bochs
          insmod video_cirrus
          insmod all_video
          
          set gfxmode=1024x768x32
          set gfxpayload=keep
          
          menuentry "DuyKhanhOS" {
              multiboot /boot/myos.bin
              boot
          }
          EOF
