# Thiết lập độ phân giải đồ họa cho menu GRUB và giữ cấu hình này cho Kernel
insmod vbe
insmod vga
insmod video_bochs
insmod video_cirrus
set gfxmode=1024x768x32
set gfxpayload=keep

# Nạp ảnh nền cho GRUB (Phong cách quân đội RedStar OS)
insmod png
background_image /boot/redstar_wallpaper.png

# Thay đổi màu chữ menu
set menu_color_normal=white/black
set menu_color_highlight=red/white

menuentry "Install Custom C++ OS (macOS Style)" {
	multiboot /boot/myos.bin
	boot
}
